# .github/workflows/test_action.yaml
name: Test Action
on: [push]

jobs:
  pristine-ubuntu:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    name: Test cleaned Ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory
      - name: Setup go (v5)
        uses: actions/setup-go@v5
      - name: Setup go (v6)
        uses: actions/setup-go@v5
      - name: Setup dotnet (v4)
        uses: actions/setup-dotnet@v4
      - name: Setup dotnet (v5)
        uses: actions/setup-dotnet@v5
      - name: Setup java (v4)
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 25
      - name: Setup java (v5)
        uses: actions/setup-java@v5
        with:
          distribution: microsoft
          java-version: 25
      - name: Setup node (v4)
        uses: actions/setup-node@v4
      - name: Setup node (v5)
        uses: actions/setup-node@v5
      - name: Setup node (v6)
        uses: actions/setup-node@v6
      - name: Setup python (v4)
        uses: actions/setup-python@v4
      - name: Setup python (v5)
        uses: actions/setup-python@v5
      - name: Setup python (v6)
        uses: actions/setup-python@v6

