# .github/workflows/test_action.yaml
name: Test Action
on: [push]

jobs:
  pristine-ubuntu:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
        keep-android:
          - ''
          - 'true'
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Test cleaned Ubuntu
    steps:
      - name: Check disk space
        run: |
          df -h
      - name: Check if relevant test directories exist
        id: dirs
        run: |
          if [[ -d /usr/local/lib/android ]]; then
            echo "android=true" >> "${GITHUB_OUTPUT}"
          else
            echo "android=false" >> "${GITHUB_OUTPUT}"
          fi
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory
        with:
          keep-android: ${{ matrix.keep-android }}
      - name: Check disk space immediately after run (not waiting for completion)
        run: |
          df -h
      - name: Setup go (v5)
        uses: actions/setup-go@v5
      - name: Setup go (v6)
        uses: actions/setup-go@v5
      - name: Setup dotnet (v4)
        uses: actions/setup-dotnet@v4
      - name: Setup dotnet (v5)
        uses: actions/setup-dotnet@v5
      - name: Setup java (v4)
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 25
      - name: Setup java (v5)
        uses: actions/setup-java@v5
        with:
          distribution: microsoft
          java-version: 25
      - name: Setup node (v4)
        uses: actions/setup-node@v4
      - name: Setup node (v5)
        uses: actions/setup-node@v5
      - name: Setup node (v6)
        uses: actions/setup-node@v6
      - name: Setup python (v4)
        uses: actions/setup-python@v4
      - name: Setup python (v5)
        uses: actions/setup-python@v5
      - name: Setup python (v6)
        uses: actions/setup-python@v6

      - name: Wait for all deletions to complete
        run: |
          while pgrep -x rm; do
            sleep 1
          done
      - name: Check that the Android SDK still exists
        if: ${{ matrix.keep-android != '' && steps.dirs.outputs.android == 'true' }}
        run: |
          ls -l /usr/local/lib/android/
      - name: Check that the Android SDK is removed
        if: ${{ matrix.keep-android == '' }}
        run: |
          if [[ -d /usr/local/lib/android/ ]]; then
            ls -l /usr/local/lib/android
            exit 1
          fi

      - name: Check disk space at end
        if: always()
        run: |
          df -h

