# .github/workflows/test_correctness.yaml
name: Test Correctness
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  correct:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
        keep-all: ['', keep-all]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Correctness (${{ matrix.os }}${{ matrix.keep-all && format(', {0}', matrix.keep-all) || '' }})
    steps:
      - name: Check disk space
        run: |
          df -h
      - name: Check if relevant test directories exist
        id: dirs
        run: |
          function exists(){
            name="$1"
            dir="$2"
            if [[ -d "${dir}" ]]; then
              echo "${name}=exists" >> "${GITHUB_OUTPUT}"
            fi
          }
          exists android /usr/local/lib/android
          exists chromedriver /usr/local/share/chromium
          exists rustup "${HOME}/.rustup"
          exists azure /opt/az
          exists powershell /usr/local/share/powershell
          exists ansible /opt/pipx/venvs/ansible-core
          exists dotnet /usr/share/dotnet
          exists haskell /usr/local/.ghcup
          exists homebrew /home/linuxbrew/.linuxbrew
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory
        with:
          keep-dotnet: ${{ matrix.keep-all }}
          keep-android: ${{ matrix.keep-all }}
          keep-rustup: ${{ matrix.keep-all }}
          keep-azure: ${{ matrix.keep-all }}
          keep-powershell: ${{ matrix.keep-all }}
          keep-ansible: ${{ matrix.keep-all }}
          keep-haskell: ${{ matrix.keep-all }}
          keep-homebrew: ${{ matrix.keep-all }}
      - name: Check disk space immediately after run (not waiting for completion)
        run: |
          df -h

      - name: Wait for all deletions to complete
        run: |
          while pgrep -x rm; do
            sleep 1
          done

      - name: Check for correct deletion behaviour
        run: |
          function check_dir(){
            if [[ "$1" != *exists ]]; then
              return
            fi
            if [[ "$1" == keep-* ]]; then
              ls -l "$2"
            else
              if [[ -d "$2" ]]; then
                find "$2"
                exit 1
              fi
            fi
          }

          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.android }}' /usr/local/lib/android
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.rustup }}' "${HOME}/.rustup"
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.azure }}' /opt/az
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.powershell }}' /usr/local/share/powershell
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.ansible }}' /opt/pipx/venvs/ansible-core
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.dotnet }}' /usr/share/dotnet
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.haskell }}' /usr/local/.ghcup
          check_dir '${{ matrix.keep-all }}${{ steps.dirs.outputs.homebrew }}' /home/linuxbrew/.linuxbrew
      - name: Check DOTNET environment variables were unset
        if: ${{ matrix.keep-all == '' && steps.dirs.outputs.dotnet == 'exists' }}
        run: |
          if [[ -n "${DOTNET_ROOT}" ]]; then
            echo "DOTNET_ROOT should be unset but is: ${DOTNET_ROOT}"
            exit 1
          fi
          if [[ -n "${DOTNET_SKIP_FIRST_TIME_EXPERIENCE}" ]]; then
            echo "DOTNET_SKIP_FIRST_TIME_EXPERIENCE should be unset but is: ${DOTNET_SKIP_FIRST_TIME_EXPERIENCE}"
            exit 1
          fi
          if [[ -n "${DOTNET_NOLOGO}" ]]; then
            echo "DOTNET_NOLOGO should be unset but is: ${DOTNET_NOLOGO}"
            exit 1
          fi
          if [[ -n "${DOTNET_MULTILEVEL_LOOKUP}" ]]; then
            echo "DOTNET_MULTILEVEL_LOOKUP should be unset but is: ${DOTNET_MULTILEVEL_LOOKUP}"
            exit 1
          fi
          echo "All DOTNET environment variables successfully unset"

      - name: Check disk space at end
        if: always()
        run: |
          df -h
