# .github/workflows/test_action.yaml
name: Test Action
on: [push]

jobs:
  pristine-ubuntu:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    name: Test cleaned Ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory
      - name: Setup go (v5)
        uses: actions/setup-go@v5
      - name: Setup go (v6)
        uses: actions/setup-go@v5
