# .github/workflows/test_action.yaml
name: Test Action
on:
  push:
    branches:
      - main
  pull-request:

jobs:
  correct:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
        keep-android: ['', keep-android]
        keep-chromedriver: ['', keep-chromedriver]
        keep-rustup: ['', keep-rustup]
        keep-azure: ['', keep-azure]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Correctness
    steps:
      - name: Check disk space
        run: |
          df -h
      - name: Check if relevant test directories exist
        id: dirs
        run: |
          function exists(){
            name="$1"
            dir="$2"
            if [[ -d "${dir}" ]]; then
              echo "${name}=exists" >> "${GITHUB_OUTPUT}"
            fi
          }
          exists android /usr/local/lib/android
          exists chromedriver /usr/local/share/chromium
          exists rustup "${HOME}/.rustup"
          exists azure /opt/az
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory
        with:
          keep-android: ${{ matrix.keep-android }}
          keep-chromedriver: ${{ matrix.keep-chromedriver }}
          keep-rustup: ${{ matrix.keep-rustup }}
          keep-azure: ${{ matrix.keep-azure }}
      - name: Check disk space immediately after run (not waiting for completion)
        run: |
          df -h

      - name: Wait for all deletions to complete
        run: |
          while pgrep -x rm; do
            sleep 1
          done

      - name: Check for correct deletion behaviour
        run: |
          function check_dir(){
            if [[ "$1" != *exists ]]; then
              return
            fi
            if [[ "$1" == keep-* ]]; then
              ls -l "$2"
            else
              if [[ -d "$2" ]]; then
                find "$2"
                exit 1
              fi
            fi
          }

          check_dir '${{ matrix.keep-android }}${{ steps.dirs.outputs.android }}' /usr/local/lib/android
          check_dir '${{ matrix.keep-chromedriver }}${{ steps.dirs.outputs.chromedriver }}' /usr/local/share/chromium
          check_dir '${{ matrix.keep-rustup }}${{ steps.dirs.outputs.rustup }}' "${HOME}/.rustup"
          check_dir '${{ matrix.keep-azure }}${{ steps.dirs.outputs.azure }}' /opt/az
      - name: Check disk space at end
        if: always()
        run: |
          df -h

  setup-works:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Actions work
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Clean Ubuntu
        if: ${{ runner.environment == 'github-hosted' }}
        uses: ./ # Uses an action in the root directory

      - name: Wait for all deletions to complete
        run: |
          while pgrep -x rm; do
            sleep 1
          done

      # Check that setup jobs still work
      - name: Setup go (v5)
        uses: actions/setup-go@v5
      - name: Setup go (v6)
        uses: actions/setup-go@v5
      - name: Setup dotnet (v4)
        uses: actions/setup-dotnet@v4
      - name: Setup dotnet (v5)
        uses: actions/setup-dotnet@v5
      - name: Setup java (v4)
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 25
      - name: Setup java (v5)
        uses: actions/setup-java@v5
        with:
          distribution: microsoft
          java-version: 21
      - name: Setup node (v4)
        uses: actions/setup-node@v4
      - name: Setup node (v5)
        uses: actions/setup-node@v5
      - name: Setup node (v6)
        uses: actions/setup-node@v6
      - name: Setup python (v4)
        uses: actions/setup-python@v4
      - name: Setup python (v5)
        uses: actions/setup-python@v5
      - name: Setup python (v6)
        uses: actions/setup-python@v6
